In [37]:
import pandas as pd

In [38]:
dados = pd.read_csv('tabela_final_ecommerce.csv')

In [39]:
dados.columns

Index(['Unnamed: 0', 'order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value', 'total_produto_frete',
       'cod_pedido', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'payment_type', 'payment_value', 'review_id', 'review_score',
       'review_creation_date', 'product_category_name', 'product_photos_qty',
       'product_weight_g', 'product_length_cm', 'product_height_cm',
       'product_width_cm', 'cod_produto', 'seller_zip_code_prefix',
       'seller_city', 'seller_state', 'cod_vendedor', 'customer_unique_id',
       'customer_zip_code_prefix', 'customer_city', 'customer_state',
       'cod_cliente'],
      dtype='object')

In [40]:
colunas = ['cod_pedido', 'cod_produto', 'product_category_name','product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm', 'cod_vendedor', 'cod_cliente', 'order_status', 'price', 'freight_value', 'payment_type', 'payment_value', 'customer_city', 'customer_state', 'seller_city', 'seller_state','order_purchase_timestamp' ,'shipping_limit_date', 'order_estimated_delivery_date', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'review_score']
dados_selecionados = dados[colunas]

In [41]:
dados_selecionados.columns

Index(['cod_pedido', 'cod_produto', 'product_category_name',
       'product_photos_qty', 'product_weight_g', 'product_length_cm',
       'product_height_cm', 'product_width_cm', 'cod_vendedor', 'cod_cliente',
       'order_status', 'price', 'freight_value', 'payment_type',
       'payment_value', 'customer_city', 'customer_state', 'seller_city',
       'seller_state', 'order_purchase_timestamp', 'shipping_limit_date',
       'order_estimated_delivery_date', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'review_score'],
      dtype='object')

In [42]:
labels = {'cod_pedido' : 'codigo_pedido' , 'cod_produto': 'codigo_produto', 'product_category_name' : 'nome_categoria_produto',
       'product_photos_qty' : 'quantidade_fotos_anuncio', 'product_weight_g' : 'peso_produto_gramas' , 'product_length_cm' : 'comprimento_produto_cm',
       'product_height_cm': 'altura_produto_cm', 'product_width_cm' : 'largura_produto_cm', 'cod_vendedor': 'codigo_vendedor', 'cod_cliente': 'codigo_cliente',
       'order_status' : 'status_pedido', 'price' : 'preco', 'freight_value' : 'valor_frete', 'payment_type' : 'tipo_pagamento',
       'payment_value' : 'valor_total_pagamento', 'customer_city' : 'cidade_cliente', 'customer_state' : 'estado_cliente', 'seller_city' : 'cidade_vendedor',
       'seller_state' : 'estado_vendedor', 'shipping_limit_date' : 'data_limite_envio', 'order_estimated_delivery_date' : 'data_estimada_entrega',
       'order_delivered_carrier_date' : 'data_estimada_envio','order_delivered_customer_date' : 'data_entrega_cliente',
       'review_score' : 'nota_cliente'}

In [43]:
dados_selecionados = dados_selecionados.rename(columns=labels)
nomes = pd.read_csv('data base/product_category_name_translation.csv')
nomes_br = nomes.product_category_name.unique()
nomes_english = nomes.product_category_name_english.unique()
nomes_completos = {}

for en, br in zip(nomes_english, nomes_br):
    nomes_completos[en] = br
    
dados_selecionados['nome_categoria_produto'].map(nomes_completos)
status = {'delivered' : 'entregue', 'shipped' : 'enviado', 'invoiced' : 'faturado', 'canceled' : 'cancelado', 'processing' : 'processando',
       'unavailable' : 'indisponível', 'approved' : 'aprovado', 'created': 'criado'}
dados_selecionados['status_pedido'].map(status)

0             entregue
1             entregue
2             entregue
3             entregue
4             entregue
              ...
119146    indisponível
119147       cancelado
119148       cancelado
119149    indisponível
119150    indisponível
Name: status_pedido, Length: 119151, dtype: object

In [44]:
dados_selecionados

,codigo_pedido,codigo_produto,nome_categoria_produto,quantidade_fotos_anuncio,peso_produto_gramas,comprimento_produto_cm,altura_produto_cm,largura_produto_cm,codigo_vendedor,codigo_cliente,...,cidade_cliente,estado_cliente,cidade_vendedor,estado_vendedor,order_purchase_timestamp,data_limite_envio,data_estimada_entrega,data_estimada_envio,data_entrega_cliente,nota_cliente
0,PED0,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE65557,...,campos dos goytacazes,RJ,volta redonda,SP,2017-09-13 08:59:02,2017-09-19 09:45:35,2017-09-29 00:00:00,2017-09-19 18:34:16,2017-09-20 23:43:48,5
1,PED7352,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE80988,...,jatai,GO,volta redonda,SP,2017-06-28 11:52:20,2017-07-05 02:44:11,2017-07-26 00:00:00,2017-07-05 12:00:33,2017-07-13 20:39:29,5
2,PED32057,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE25492,...,belo horizonte,MG,volta redonda,SP,2018-05-18 10:25:53,2018-05-23 10:56:25,2018-06-07 00:00:00,2018-05-23 14:05:00,2018-06-04 18:34:26,4
3,PED42988,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE22915,...,sao jose dos pinhais,PR,volta redonda,SP,2017-08-01 18:38:42,2017-08-07 18:55:08,2017-08-25 00:00:00,2017-08-02 19:07:36,2017-08-09 21:26:33,5
4,PED48148,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE2591,...,conselheiro lafaiete,MG,volta redonda,SP,2017-08-10 21:48:40,2017-08-16 22:05:11,2017-09-01 00:00:00,2017-08-11 19:43:07,2017-08-24 20:04:21,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLIENTE24152,...,guarulhos,SP,NaN,NaN,2018-01-16 14:27:59,NaN,2018-02-06 00:00:00,NaN,NaN,1
119147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLIENTE93287,...,santos,SP,NaN,NaN,2018-08-31 16:13:44,NaN,2018-10-01 00:00:00,NaN,NaN,5
119148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLIENTE55235,...,sao paulo,SP,NaN,NaN,2018-09-06 18:45:47,NaN,2018-09-27 00:00:00,NaN,NaN,4
119149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLIENTE51641,...,rio de janeiro,RJ,NaN,NaN,2017-08-23 16:28:04,NaN,2017-09-15 00:00:00,NaN,NaN,1
119150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLIENTE91000,...,sorocaba,SP,NaN,NaN,2017-10-10 10:50:03,NaN,2017-10-23 00:00:00,NaN,NaN,1

In [45]:
# top 10 mais vendidos por categorias
dados_selecionados['nome_categoria_produto'].value_counts().to_frame().head(10)

                        count
nome_categoria_produto
cama_mesa_banho         11990
beleza_saude            10033
esporte_lazer            9005
moveis_decoracao         8833
informatica_acessorios   8151
utilidades_domesticas    7380
relogios_presentes       6213
telefonia                4726
ferramentas_jardim       4590
automotivo               4400

In [46]:
# top 10 menos vendidos por categorias
dados_selecionados['nome_categoria_produto'].value_counts().to_frame().tail(10)

                                               count
nome_categoria_produto
flores                                            33
fashion_esporte                                   31
casa_conforto_2                                   31
artes_e_artesanato                                24
la_cuisine                                        16
portateis_cozinha_e_preparadores_de_alimentos     15
cds_dvds_musicais                                 14
pc_gamer                                          10
fashion_roupa_infanto_juvenil                      8
seguros_e_servicos                                 2

In [47]:
# top 10 vendedores com mais vendas
dados_selecionados['codigo_vendedor'].value_counts().to_frame().head(10)

                 count
codigo_vendedor
VEND2463          2155
VEND797           2130
VEND474           2017
VEND1413          1893
VEND1873          1662
VEND390           1530
VEND2720          1477
VEND1182          1463
VEND2207          1245
VEND987           1240

In [48]:
# Contagem dos status
dados_selecionados['status_pedido'].value_counts().to_frame()

                count
status_pedido
delivered      115731
shipped          1256
canceled          750
unavailable       652
invoiced          378
processing        376
created             5
approved            3

In [49]:
dados_selecionados

,codigo_pedido,codigo_produto,nome_categoria_produto,quantidade_fotos_anuncio,peso_produto_gramas,comprimento_produto_cm,altura_produto_cm,largura_produto_cm,codigo_vendedor,codigo_cliente,...,cidade_cliente,estado_cliente,cidade_vendedor,estado_vendedor,order_purchase_timestamp,data_limite_envio,data_estimada_entrega,data_estimada_envio,data_entrega_cliente,nota_cliente
0,PED0,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE65557,...,campos dos goytacazes,RJ,volta redonda,SP,2017-09-13 08:59:02,2017-09-19 09:45:35,2017-09-29 00:00:00,2017-09-19 18:34:16,2017-09-20 23:43:48,5
1,PED7352,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE80988,...,jatai,GO,volta redonda,SP,2017-06-28 11:52:20,2017-07-05 02:44:11,2017-07-26 00:00:00,2017-07-05 12:00:33,2017-07-13 20:39:29,5
2,PED32057,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE25492,...,belo horizonte,MG,volta redonda,SP,2018-05-18 10:25:53,2018-05-23 10:56:25,2018-06-07 00:00:00,2018-05-23 14:05:00,2018-06-04 18:34:26,4
3,PED42988,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE22915,...,sao jose dos pinhais,PR,volta redonda,SP,2017-08-01 18:38:42,2017-08-07 18:55:08,2017-08-25 00:00:00,2017-08-02 19:07:36,2017-08-09 21:26:33,5
4,PED48148,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE2591,...,conselheiro lafaiete,MG,volta redonda,SP,2017-08-10 21:48:40,2017-08-16 22:05:11,2017-09-01 00:00:00,2017-08-11 19:43:07,2017-08-24 20:04:21,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLIENTE24152,...,guarulhos,SP,NaN,NaN,2018-01-16 14:27:59,NaN,2018-02-06 00:00:00,NaN,NaN,1
119147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLIENTE93287,...,santos,SP,NaN,NaN,2018-08-31 16:13:44,NaN,2018-10-01 00:00:00,NaN,NaN,5
119148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLIENTE55235,...,sao paulo,SP,NaN,NaN,2018-09-06 18:45:47,NaN,2018-09-27 00:00:00,NaN,NaN,4
119149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLIENTE51641,...,rio de janeiro,RJ,NaN,NaN,2017-08-23 16:28:04,NaN,2017-09-15 00:00:00,NaN,NaN,1
119150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLIENTE91000,...,sorocaba,SP,NaN,NaN,2017-10-10 10:50:03,NaN,2017-10-23 00:00:00,NaN,NaN,1

In [50]:
dados_selecionados

,codigo_pedido,codigo_produto,nome_categoria_produto,quantidade_fotos_anuncio,peso_produto_gramas,comprimento_produto_cm,altura_produto_cm,largura_produto_cm,codigo_vendedor,codigo_cliente,...,cidade_cliente,estado_cliente,cidade_vendedor,estado_vendedor,order_purchase_timestamp,data_limite_envio,data_estimada_entrega,data_estimada_envio,data_entrega_cliente,nota_cliente
0,PED0,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE65557,...,campos dos goytacazes,RJ,volta redonda,SP,2017-09-13 08:59:02,2017-09-19 09:45:35,2017-09-29 00:00:00,2017-09-19 18:34:16,2017-09-20 23:43:48,5
1,PED7352,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE80988,...,jatai,GO,volta redonda,SP,2017-06-28 11:52:20,2017-07-05 02:44:11,2017-07-26 00:00:00,2017-07-05 12:00:33,2017-07-13 20:39:29,5
2,PED32057,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE25492,...,belo horizonte,MG,volta redonda,SP,2018-05-18 10:25:53,2018-05-23 10:56:25,2018-06-07 00:00:00,2018-05-23 14:05:00,2018-06-04 18:34:26,4
3,PED42988,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE22915,...,sao jose dos pinhais,PR,volta redonda,SP,2017-08-01 18:38:42,2017-08-07 18:55:08,2017-08-25 00:00:00,2017-08-02 19:07:36,2017-08-09 21:26:33,5
4,PED48148,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE2591,...,conselheiro lafaiete,MG,volta redonda,SP,2017-08-10 21:48:40,2017-08-16 22:05:11,2017-09-01 00:00:00,2017-08-11 19:43:07,2017-08-24 20:04:21,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLIENTE24152,...,guarulhos,SP,NaN,NaN,2018-01-16 14:27:59,NaN,2018-02-06 00:00:00,NaN,NaN,1
119147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLIENTE93287,...,santos,SP,NaN,NaN,2018-08-31 16:13:44,NaN,2018-10-01 00:00:00,NaN,NaN,5
119148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLIENTE55235,...,sao paulo,SP,NaN,NaN,2018-09-06 18:45:47,NaN,2018-09-27 00:00:00,NaN,NaN,4
119149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLIENTE51641,...,rio de janeiro,RJ,NaN,NaN,2017-08-23 16:28:04,NaN,2017-09-15 00:00:00,NaN,NaN,1
119150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLIENTE91000,...,sorocaba,SP,NaN,NaN,2017-10-10 10:50:03,NaN,2017-10-23 00:00:00,NaN,NaN,1

In [52]:
dados_selecionados = dados_selecionados.dropna(subset=['codigo_produto'])

In [53]:
dados_selecionados

,codigo_pedido,codigo_produto,nome_categoria_produto,quantidade_fotos_anuncio,peso_produto_gramas,comprimento_produto_cm,altura_produto_cm,largura_produto_cm,codigo_vendedor,codigo_cliente,...,cidade_cliente,estado_cliente,cidade_vendedor,estado_vendedor,order_purchase_timestamp,data_limite_envio,data_estimada_entrega,data_estimada_envio,data_entrega_cliente,nota_cliente
0,PED0,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE65557,...,campos dos goytacazes,RJ,volta redonda,SP,2017-09-13 08:59:02,2017-09-19 09:45:35,2017-09-29 00:00:00,2017-09-19 18:34:16,2017-09-20 23:43:48,5
1,PED7352,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE80988,...,jatai,GO,volta redonda,SP,2017-06-28 11:52:20,2017-07-05 02:44:11,2017-07-26 00:00:00,2017-07-05 12:00:33,2017-07-13 20:39:29,5
2,PED32057,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE25492,...,belo horizonte,MG,volta redonda,SP,2018-05-18 10:25:53,2018-05-23 10:56:25,2018-06-07 00:00:00,2018-05-23 14:05:00,2018-06-04 18:34:26,4
3,PED42988,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE22915,...,sao jose dos pinhais,PR,volta redonda,SP,2017-08-01 18:38:42,2017-08-07 18:55:08,2017-08-25 00:00:00,2017-08-02 19:07:36,2017-08-09 21:26:33,5
4,PED48148,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE2591,...,conselheiro lafaiete,MG,volta redonda,SP,2017-08-10 21:48:40,2017-08-16 22:05:11,2017-09-01 00:00:00,2017-08-11 19:43:07,2017-08-24 20:04:21,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118313,PED97807,PROD12741,moveis_decoracao,2.0,1000.0,69.0,11.0,11.0,VEND1817,CLIENTE65859,...,rio de janeiro,RJ,curitiba,PR,2017-04-19 10:20:51,2017-04-27 05:10:28,2017-05-22 00:00:00,2017-05-04 15:06:24,2017-05-24 10:52:43,4
118314,PED98085,PROD9858,eletronicos,3.0,500.0,17.0,9.0,25.0,VEND2705,CLIENTE45692,...,limeira,SP,curitiba,PR,2017-08-11 10:15:22,2017-08-17 02:55:27,2017-09-04 00:00:00,2017-08-14 22:03:19,2017-08-17 17:47:55,4
118315,PED98298,PROD21768,pcs,4.0,5660.0,54.0,18.0,47.0,VEND2916,CLIENTE21171,...,vitoria,ES,londrina,PR,2018-07-25 18:10:17,2018-08-02 04:05:13,2018-08-10 00:00:00,2018-08-03 14:42:00,2018-08-15 14:57:50,1
118316,PED98461,PROD10190,bebidas,1.0,2000.0,19.0,38.0,19.0,VEND2507,CLIENTE51136,...,cacapava,SP,sao paulo,SP,2018-04-12 19:47:40,2018-04-18 20:10:33,2018-04-30 00:00:00,2018-04-18 00:41:29,2018-04-20 17:48:39,5
118317,PED98461,PROD10190,bebidas,1.0,2000.0,19.0,38.0,19.0,VEND2507,CLIENTE51136,...,cacapava,SP,sao paulo,SP,2018-04-12 19:47:40,2018-04-18 20:10:33,2018-04-30 00:00:00,2018-04-18 00:41:29,2018-04-20 17:48:39,5

In [58]:
tem_duplicatas = dados_selecionados[dados_selecionados.duplicated()]

In [59]:
tem_duplicatas

,codigo_pedido,codigo_produto,nome_categoria_produto,quantidade_fotos_anuncio,peso_produto_gramas,comprimento_produto_cm,altura_produto_cm,largura_produto_cm,codigo_vendedor,codigo_cliente,...,cidade_cliente,estado_cliente,cidade_vendedor,estado_vendedor,order_purchase_timestamp,data_limite_envio,data_estimada_entrega,data_estimada_envio,data_entrega_cliente,nota_cliente
10,PED86163,PROD25865,cool_stuff,4.0,650.0,28.0,9.0,14.0,VEND513,CLIENTE92914,...,paulista,PE,volta redonda,SP,2017-06-05 12:22:19,2017-06-09 14:31:21,2017-07-06 00:00:00,2017-06-07 13:09:07,2017-06-26 13:52:03,1
66,PED34765,PROD30446,cool_stuff,4.0,550.0,27.0,10.0,15.0,VEND513,CLIENTE25401,...,rio de janeiro,RJ,volta redonda,SP,2017-09-30 11:11:25,2017-10-05 11:24:47,2017-10-18 00:00:00,2017-10-06 16:55:18,2017-10-09 17:46:04,1
70,PED38057,PROD30446,cool_stuff,4.0,550.0,27.0,10.0,15.0,VEND513,CLIENTE54358,...,montes claros,MG,volta redonda,SP,2017-10-25 14:58:58,2017-10-31 15:14:19,2017-11-21 00:00:00,2017-10-27 17:26:55,2017-11-08 20:49:30,4
92,PED37036,PROD13557,cool_stuff,4.0,650.0,33.0,18.0,27.0,VEND513,CLIENTE51877,...,niquelandia,GO,volta redonda,SP,2017-08-14 12:22:14,2017-08-18 13:05:16,2017-09-14 00:00:00,2017-08-15 19:26:45,2017-08-30 17:07:13,2
97,PED48324,PROD13557,cool_stuff,4.0,650.0,33.0,18.0,27.0,VEND513,CLIENTE98755,...,pinheiral,RJ,volta redonda,SP,2017-08-31 09:45:20,2017-09-08 02:30:18,2017-09-19 00:00:00,2017-09-06 16:47:32,2017-09-11 20:12:19,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118295,PED95874,PROD24856,papelaria,2.0,750.0,31.0,3.0,22.0,VEND3042,CLIENTE71356,...,sao paulo,SP,diadema,SP,2018-07-19 19:22:05,2018-07-25 19:35:25,2018-07-27 00:00:00,2018-07-23 15:39:00,2018-07-25 18:07:15,5
118306,PED97199,PROD24048,utilidades_domesticas,4.0,400.0,18.0,20.0,20.0,VEND1921,CLIENTE32991,...,santo andre,SP,sao paulo,SP,2017-11-20 11:45:27,2017-11-28 02:46:53,2017-12-01 00:00:00,NaN,NaN,1
118307,PED97199,PROD24048,utilidades_domesticas,4.0,400.0,18.0,20.0,20.0,VEND1921,CLIENTE32991,...,santo andre,SP,sao paulo,SP,2017-11-20 11:45:27,2017-11-28 02:46:53,2017-12-01 00:00:00,NaN,NaN,1
118312,PED97673,PROD5730,moveis_decoracao,2.0,1250.0,52.0,7.0,11.0,VEND1460,CLIENTE29406,...,salvador,BA,sao caetano do sul,SP,2018-07-26 09:13:04,2018-08-02 02:24:15,2018-08-16 00:00:00,2018-08-07 09:28:00,2018-08-16 17:12:37,5
118317,PED98461,PROD10190,bebidas,1.0,2000.0,19.0,38.0,19.0,VEND2507,CLIENTE51136,...,cacapava,SP,sao paulo,SP,2018-04-12 19:47:40,2018-04-18 20:10:33,2018-04-30 00:00:00,2018-04-18 00:41:29,2018-04-20 17:48:39,5

In [61]:
data_compra = dados_selecionados[dados_selecionados['order_purchase_timestamp']]

KeyError: "None of [Index(['2017-09-13 08:59:02', '2017-06-28 11:52:20', '2018-05-18 10:25:53',\n       '2017-08-01 18:38:42', '2017-08-10 21:48:40', '2017-07-27 15:11:51',\n       '2018-03-18 21:00:44', '2017-08-05 16:59:05', '2017-08-05 16:59:05',\n       '2017-06-05 12:22:19',\n       ...\n       '2017-05-19 16:14:42', '2017-09-03 17:20:56', '2018-07-23 16:24:27',\n       '2018-07-26 09:13:04', '2018-07-26 09:13:04', '2017-04-19 10:20:51',\n       '2017-08-11 10:15:22', '2018-07-25 18:10:17', '2018-04-12 19:47:40',\n       '2018-04-12 19:47:40'],\n      dtype='object', length=118318)] are in the [columns]"