<h1 style='color:green'>Projeto do Módulo 4</h1>

<a href='https://www.kaggle.com/datasets/erak1006/brazilian-e-commerce-company-olist?select=order_payments_dataset.csv'>banco de dados</a>

<h2 style='color:green'>Sobre o Dataset:</h2>

<ul style='color:green'>
    <li><b>Tabela 1</b> - produtos: Informações sobre a nome, categoria e dimensões do produto.</li>
    <li><b>Tabela 2</b> - pedidos_items: Informações sobre o produto com seu respectivo vendedor, preço e envio.</li>
    <li><b>Tabela 3</b> - pedidos_pagamentos: Informações sobre o método de pagamento utilizado e valor de acordo com o id do pedido.</li>
    <li><b>Tabela 4</b> - pedidos_avaliações: Avaliação do cliente que recebeu o pedido.</li>
    <li><b>Tabela 5</b> - pedidos: Informações sobre o pedido do cliente, com data da ordem, previsão de entrega e data da entrega.</li>
    <li><b>Tabela 6</b> - vendedores: Informações sobre o vendedor, com id e endereço.</li>
    <li><b>Tabela 7</b> - clientes: Informações sobre a localização do cliente.</li>
</ul>

In [2]:
import pandas as pd

In [3]:
# Carregando os dados:
produtos = pd.read_csv("data base/products_dataset.csv")
pedidos_items = pd.read_csv('data base/order_items_dataset.csv')
pedidos_pagamentos = pd.read_csv('data base/order_payments_dataset.csv')
pedidos_avaliacoes = pd.read_csv('data base/order_reviews_dataset.csv')
pedidos = pd.read_csv('data base/orders_dataset.csv')
vendedores = pd.read_csv('data base/sellers_dataset.csv')
clientes = pd.read_csv('data base/customers_dataset.csv')
categoria_produto = ('data base/product_category_name_translation.csv')

<h2 style='color:green'>Shape dos Datasets:</h2>

In [6]:
print(f'produtos:',produtos.shape, "Nulos:", produtos.isna().sum().sum())
print(f'pedidos_items:',pedidos_items.shape, "Nulos:", pedidos_items.isna().sum().sum())
print(f'pedidos_pagamentos:',pedidos_pagamentos.shape, "Nulos:", pedidos_pagamentos.isna().sum().sum())
print(f'pedidos_avaliacoes:',pedidos_avaliacoes.shape, "Nulos:", pedidos_avaliacoes.isna().sum().sum())
print(f'pedidos:',pedidos.shape, "Nulos:", pedidos.isna().sum().sum())
print(f'vendedores:',vendedores.shape, "Nulos:", vendedores.isna().sum().sum())
print(f'clientes:',clientes.shape, "Nulos:", clientes.isna().sum().sum())

produtos: (32951, 9) Nulos: 2448
pedidos_items: (112650, 7) Nulos: 0
pedidos_pagamentos: (103886, 5) Nulos: 0
pedidos_avaliacoes: (100000, 7) Nulos: 146532
pedidos: (99441, 8) Nulos: 4908
vendedores: (3095, 4) Nulos: 0
clientes: (99441, 5) Nulos: 0

In [7]:
produtos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

<p style='color:red'>Produtos sem categoria: podemos trocar NaN por 'categoria_desconhecida', e as dimensões por 'dimensão_desconhecida'</p>

In [8]:
pedidos_avaliacoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   review_id                100000 non-null  object
 1   order_id                 100000 non-null  object
 2   review_score             100000 non-null  int64
 3   review_comment_title     11715 non-null   object
 4   review_comment_message   41753 non-null   object
 5   review_creation_date     100000 non-null  object
 6   review_answer_timestamp  100000 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

<p style='color:red'>As reviews sem título e comentário podemos descartar</p>

In [11]:
pedidos.loc[6]

order_id                         136cce7faa42fdb2cefd53fdc79a6098
customer_id                      ed0271e0b7da060a393796590e7b737a
order_status                                             invoiced
order_purchase_timestamp                      2017-04-11 12:22:08
order_approved_at                             2017-04-13 13:25:17
order_delivered_carrier_date                                  NaN
order_delivered_customer_date                                 NaN
order_estimated_delivery_date                 2017-05-09 00:00:00
Name: 6, dtype: object

<p style='color:red'>Pode ser que os nulos do order_delivered_carrier_date e order_delivered_customer_date sejam produtos ainda não entregues/ enviados ao correio.</p>

In [15]:
pedidos_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [16]:
pedidos_pagamentos

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [9]:
pd.set_option('display.max_columns',25)

In [8]:
produtos

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [12]:
produtos.tail(10)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
32941,6ec96c91757fad0aecafc0ee7f262dcc,bebes,62.0,1417.0,1.0,9550.0,36.0,35.0,35.0
32942,16280ca280a86fee2ba3c928ed04439f,moveis_decoracao,64.0,236.0,11.0,2200.0,31.0,11.0,26.0
32943,3becff10d1deb92b02f2a1ee62a04524,informatica_acessorios,54.0,1520.0,2.0,6150.0,30.0,30.0,20.0
32944,1a14237ecc2fe3772b55c8d4e11ccb35,moveis_decoracao,58.0,1405.0,3.0,150.0,35.0,2.0,25.0
32945,c4e71b64511b959455e2107fe7859020,utilidades_domesticas,59.0,1371.0,2.0,200.0,18.0,15.0,15.0
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [13]:
produtos.shape

(32951, 9)

In [14]:
produtos.product_id.is_unique

True

In [15]:
copy_produtos = produtos.copy()

In [19]:
print((produtos['product_category_name']).count())
print((produtos['product_id']).count())

32341
32951

In [20]:
(produtos['product_category_name']).isna().sum()

610

In [24]:
produtos_na = produtos[produtos['product_category_name'].isna()]
produtos_na

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
105,a41e356c76fab66334f36de622ecbd3a,NaN,NaN,NaN,NaN,650.0,17.0,14.0,12.0
128,d8dee61c2034d6d075997acef1870e9b,NaN,NaN,NaN,NaN,300.0,16.0,7.0,20.0
145,56139431d72cd51f19eb9f7dae4d1617,NaN,NaN,NaN,NaN,200.0,20.0,20.0,20.0
154,46b48281eb6d663ced748f324108c733,NaN,NaN,NaN,NaN,18500.0,41.0,30.0,41.0
197,5fb61f482620cb672f5e586bb132eae9,NaN,NaN,NaN,NaN,300.0,35.0,7.0,12.0
...,...,...,...,...,...,...,...,...,...
32515,b0a0c5dd78e644373b199380612c350a,NaN,NaN,NaN,NaN,1800.0,30.0,20.0,70.0
32589,10dbe0fbaa2c505123c17fdc34a63c56,NaN,NaN,NaN,NaN,800.0,30.0,10.0,23.0
32616,bd2ada37b58ae94cc838b9c0569fecd8,NaN,NaN,NaN,NaN,200.0,21.0,8.0,16.0
32772,fa51e914046aab32764c41356b9d4ea4,NaN,NaN,NaN,NaN,1300.0,45.0,16.0,45.0
32852,c4ceee876c82b8328e9c293fa0e1989b,NaN,NaN,NaN,NaN,700.0,28.0,3.0,43.0

In [27]:
produtos_na.groupby(['product_category_name','product_name_lenght', 'product_description_lenght', 'product_photos_qty'], dropna = False).size().sort_values(ascending=False)

product_category_name  product_name_lenght  product_description_lenght  product_photos_qty
NaN                    NaN                  NaN                         NaN                   610
dtype: int64

In [31]:
produtos.groupby(['product_category_name'],dropna=False).size().sort_values(ascending=False)

product_category_name
cama_mesa_banho                  3029
esporte_lazer                    2867
moveis_decoracao                 2657
beleza_saude                     2444
utilidades_domesticas            2335
                                 ...
fashion_roupa_infanto_juvenil       5
casa_conforto_2                     5
pc_gamer                            3
seguros_e_servicos                  2
cds_dvds_musicais                   1
Length: 74, dtype: int64