<h1 style='color:green'>Projeto do Módulo 4</h1>

<a href='https://www.kaggle.com/datasets/erak1006/brazilian-e-commerce-company-olist?select=order_payments_dataset.csv'>banco de dados</a>

<h2 style='color:green'>Sobre o Dataset:</h2>

<ul style='color:green'>
    <li><b>Tabela 1</b> - produtos: Informações sobre a nome, categoria e dimensões do produto.</li>
    <li><b>Tabela 2</b> - pedidos_items: Informações sobre o produto com seu respectivo vendedor, preço e envio.</li>
    <li><b>Tabela 3</b> - pedidos_pagamentos: Informações sobre o método de pagamento utilizado e valor de acordo com o id do pedido.</li>
    <li><b>Tabela 4</b> - pedidos_avaliações: Avaliação do cliente que recebeu o pedido.</li>
    <li><b>Tabela 5</b> - pedidos: Informações sobre o pedido do cliente, com data da ordem, previsão de entrega e data da entrega.</li>
    <li><b>Tabela 6</b> - vendedores: Informações sobre o vendedor, com id e endereço.</li>
    <li><b>Tabela 7</b> - clientes: Informações sobre a localização do cliente.</li>
</ul>

In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [57]:
# Carregando os dados:
produtos = pd.read_csv("data base/products_dataset.csv")
pedidos_items = pd.read_csv('data base/order_items_dataset.csv')
pedidos_pagamentos = pd.read_csv('data base/order_payments_dataset.csv')
pedidos_avaliacoes = pd.read_csv('data base/order_reviews_dataset.csv')
pedidos = pd.read_csv('data base/orders_dataset.csv')
vendedores = pd.read_csv('data base/sellers_dataset.csv')
clientes = pd.read_csv('data base/customers_dataset.csv')

<h2 style='color:green'>Shape dos Datasets:</h2>

In [58]:
print(f'produtos:',produtos.shape, "Nulos:", produtos.isna().sum().sum())
print(f'pedidos_items:',pedidos_items.shape, "Nulos:", pedidos_items.isna().sum().sum())
print(f'pedidos_pagamentos:',pedidos_pagamentos.shape, "Nulos:", pedidos_pagamentos.isna().sum().sum())
print(f'pedidos_avaliacoes:',pedidos_avaliacoes.shape, "Nulos:", pedidos_avaliacoes.isna().sum().sum())
print(f'pedidos:',pedidos.shape, "Nulos:", pedidos.isna().sum().sum())
print(f'vendedores:',vendedores.shape, "Nulos:", vendedores.isna().sum().sum())
print(f'clientes:',clientes.shape, "Nulos:", clientes.isna().sum().sum())

produtos: (32951, 9) Nulos: 2448
pedidos_items: (112650, 7) Nulos: 0
pedidos_pagamentos: (103886, 5) Nulos: 0
pedidos_avaliacoes: (100000, 7) Nulos: 146532
pedidos: (99441, 8) Nulos: 4908
vendedores: (3095, 4) Nulos: 0
clientes: (99441, 5) Nulos: 0

<h2 style='color:green'>Máscaras para selecionar só as colunas úteis</h2

In [59]:
# Selecionando somente as colunas úteis
m_produtos_ = produtos[['product_id', 'product_category_name', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']]
m_pedidos_items = pedidos_items
m_pedidos_pagamentos = pedidos_pagamentos[['order_id', 'payment_type', 'payment_value']]
m_pedidos_avaliacoes = pedidos_avaliacoes[['review_id', 'order_id', 'review_score', 'review_creation_date']]
m_pedidos = pedidos
m_vendedores = vendedores
m_clientes = clientes

m_produtos_copy = m_produtos.copy()

<h2 style='color:green'>Analisando os valores nulos da tabela pedidos</h2>

In [60]:
# preenchendo os campos NaN
m_produtos['product_category_name'].fillna('categoria_desconhecida', inplace=True)
m_produtos['product_photos_qty'].fillna(0, inplace=True)
m_produtos.fillna(0, inplace=True)

In [61]:
m_produtos.isna().sum()

product_id               0
product_category_name    0
product_photos_qty       0
product_weight_g         0
product_length_cm        0
product_height_cm        0
product_width_cm         0
dtype: int64

<h2 style='color:green'>Novos códigos de produto, vendedor e cliente
</h2>

In [62]:
cod_cliente = []
for i in range(0, len(m_clientes['customer_unique_id'])):
    cod_cliente.append('CLIENTE'+str(i))

In [63]:
len(cod_cliente) == len(m_clientes['customer_unique_id'])

True

In [64]:
cod_vendedor = []
for i in range(0, len(m_vendedores['seller_id'])):
    cod_vendedor.append('VEND'+str(i))

In [65]:
len(cod_vendedor) == len(m_vendedores['seller_id'])

True

In [66]:
cod_produto = []
for i in range(0, len(m_produtos['product_id'])):
    cod_produto.append('PROD'+str(i))

In [67]:
len(cod_produto) == len(m_produtos['product_id'])

True

In [68]:
num_pedido = []
for i in range(0, len(m_clientes['customer_unique_id'])):
    num_pedido.append('CLIENTE'+str(i))

In [69]:
m_clientes['cod_cliente'] = cod_cliente
m_vendedores['cod_vendedor'] = cod_vendedor
m_produtos['cod_produto'] = cod_produto

<h2 style='color:green'>Juntando as tabelas dos pedidos
</h2>

In [70]:
pedidos_items['order_item_id'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21], dtype=int64)

In [71]:
pedidos_items['order_id'].nunique() == pedidos_items.shape[0]

False

In [72]:
pedidos_items['order_id'].nunique()

98666

In [73]:
pedidos_items['total_produto_frete'] = pedidos_items['price'] + pedidos_items['freight_value']

In [74]:
pedidos_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,total_produto_frete
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,72.19
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,259.83
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,216.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,25.78
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,218.04
...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,343.40
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,386.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,116.85
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,64.71
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,55.79

In [75]:
order = pedidos_items['order_id'].unique()

In [76]:
order.shape

(98666,)

In [77]:
cod_pedido = []
for i in range(0, len(order)):
    cod_pedido.append('PED'+str(i))

In [78]:
data = {'cod_pedido': cod_pedido, 'order_id' : order}

In [79]:
order_cod = pd.DataFrame(data=data)

In [80]:
order_cod

      cod_pedido                          order_id
0           PED0  00010242fe8c5a6d1ba2dd792cb16214
1           PED1  00018f77f2f0320c557190d7a144bdd3
2           PED2  000229ec398224ef6ca0657da4fc703e
3           PED3  00024acbcdf0a6daa1e931b038114c75
4           PED4  00042b26cf59d7ce69dfabb4e55b4fd9
...          ...                               ...
98661   PED98661  fffc94f6ce00a00581880bf54a75a037
98662   PED98662  fffcd46ef2263f404302a634eb57f7eb
98663   PED98663  fffce4705a9662cd70adb13d4a31832d
98664   PED98664  fffe18544ffabc95dfada21779c9644f
98665   PED98665  fffe41c64501cc87c801fd61db3f6244

[98666 rows x 2 columns]

In [81]:
primeira_tabela = pedidos_items.merge(order_cod, how='inner', on='order_id')

In [82]:
primeira_tabela

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,total_produto_frete,cod_pedido
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,72.19,PED0
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,259.83,PED1
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,216.87,PED2
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,25.78,PED3
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,218.04,PED4
...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,343.40,PED98661
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,386.53,PED98662
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,116.85,PED98663
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,64.71,PED98664
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,55.79,PED98665

<h2 style='color:green'>Juntando todas as informações dos pedidos em uma tabela só
</h2>

In [83]:
#pedidos_items x
#pedidos_pagamentos x
#pedidos_avaliacoes 
#pedidos x

In [84]:
# pedidos items com pedidos
segunda_tabela = primeira_tabela.merge(m_pedidos, how='outer', on='order_id') #outer pq tem pedidos cancelados
segunda_tabela

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,total_produto_frete,cod_pedido,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,00010242fe8c5a6d1ba2dd792cb16214,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,72.19,PED0,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00
1,00018f77f2f0320c557190d7a144bdd3,1.0,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,259.83,PED1,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00
2,000229ec398224ef6ca0657da4fc703e,1.0,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,216.87,PED2,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00
3,00024acbcdf0a6daa1e931b038114c75,1.0,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,25.78,PED3,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00
4,00042b26cf59d7ce69dfabb4e55b4fd9,1.0,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,218.04,PED4,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113420,aaab15da689073f8f9aa978a390a69d1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,df20748206e4b865b2f14a5eabbfcf34,unavailable,2018-01-16 14:27:59,2018-01-17 03:37:34,NaN,NaN,2018-02-06 00:00:00
113421,3a3cddda5a7c27851bd96c3313412840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0b0d6095c5555fe083844281f6b093bb,canceled,2018-08-31 16:13:44,NaN,NaN,NaN,2018-10-01 00:00:00
113422,a89abace0dcc01eeb267a9660b5ac126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2f0524a7b1b3845a1a57fcf3910c4333,canceled,2018-09-06 18:45:47,NaN,NaN,NaN,2018-09-27 00:00:00
113423,a69ba794cc7deb415c3e15a0a3877e69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,726f0894b5becdf952ea537d5266e543,unavailable,2017-08-23 16:28:04,2017-08-28 15:44:47,NaN,NaN,2017-09-15 00:00:00
113424,5fabc81b6322c8443648e1b21a6fef21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32c9df889d41b0ee8309a5efb6855dcb,unavailable,2017-10-10 10:50:03,2017-10-14 18:35:57,NaN,NaN,2017-10-23 00:00:00

In [85]:
#os tipos de pagamento dos pedidos
terceira_tabela = segunda_tabela.merge(m_pedidos_pagamentos, how='outer', on='order_id')
terceira_tabela

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,total_produto_frete,cod_pedido,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type,payment_value
0,00010242fe8c5a6d1ba2dd792cb16214,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,72.19,PED0,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,credit_card,72.19
1,00018f77f2f0320c557190d7a144bdd3,1.0,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,259.83,PED1,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00,credit_card,259.83
2,000229ec398224ef6ca0657da4fc703e,1.0,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,216.87,PED2,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00,credit_card,216.87
3,00024acbcdf0a6daa1e931b038114c75,1.0,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,25.78,PED3,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00,credit_card,25.78
4,00042b26cf59d7ce69dfabb4e55b4fd9,1.0,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,218.04,PED4,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00,credit_card,218.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118429,aaab15da689073f8f9aa978a390a69d1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,df20748206e4b865b2f14a5eabbfcf34,unavailable,2018-01-16 14:27:59,2018-01-17 03:37:34,NaN,NaN,2018-02-06 00:00:00,boleto,210.09
118430,3a3cddda5a7c27851bd96c3313412840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0b0d6095c5555fe083844281f6b093bb,canceled,2018-08-31 16:13:44,NaN,NaN,NaN,2018-10-01 00:00:00,voucher,63.89
118431,a89abace0dcc01eeb267a9660b5ac126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2f0524a7b1b3845a1a57fcf3910c4333,canceled,2018-09-06 18:45:47,NaN,NaN,NaN,2018-09-27 00:00:00,voucher,107.13
118432,a69ba794cc7deb415c3e15a0a3877e69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,726f0894b5becdf952ea537d5266e543,unavailable,2017-08-23 16:28:04,2017-08-28 15:44:47,NaN,NaN,2017-09-15 00:00:00,credit_card,195.91
118433,5fabc81b6322c8443648e1b21a6fef21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32c9df889d41b0ee8309a5efb6855dcb,unavailable,2017-10-10 10:50:03,2017-10-14 18:35:57,NaN,NaN,2017-10-23 00:00:00,boleto,133.97

In [86]:
#os pedidos com as respectivas avaliações
tabela_final_pedidos = terceira_tabela.merge(m_pedidos_avaliacoes, how='outer', on='order_id') #outer pq tem pedido com mais de uma avaliação

In [87]:
tabela_final_pedidos

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,total_produto_frete,cod_pedido,customer_id,...,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type,payment_value,review_id,review_score,review_creation_date
0,00010242fe8c5a6d1ba2dd792cb16214,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,72.19,PED0,3ce436f183e68e07877b285a838db11a,...,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,credit_card,72.19,97ca439bc427b48bc1cd7177abe71365,5,2017-09-21 00:00:00
1,00018f77f2f0320c557190d7a144bdd3,1.0,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,259.83,PED1,f6dd3ec061db4e3987629fe6b26e5cce,...,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00,credit_card,259.83,7b07bacd811c4117b742569b04ce3580,4,2017-05-13 00:00:00
2,000229ec398224ef6ca0657da4fc703e,1.0,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,216.87,PED2,6489ae5e4333f3693df5ad4372dab6d3,...,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00,credit_card,216.87,0c5b33dea94867d1ac402749e5438e8b,5,2018-01-23 00:00:00
3,00024acbcdf0a6daa1e931b038114c75,1.0,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,25.78,PED3,d4eb9395c8c0431ee92fce09860c5a06,...,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00,credit_card,25.78,f4028d019cb58564807486a6aaf33817,4,2018-08-15 00:00:00
4,00042b26cf59d7ce69dfabb4e55b4fd9,1.0,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,218.04,PED4,58dbd0b2d70206bf40e62cd34e84d795,...,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00,credit_card,218.04,940144190dcba6351888cafa43f3a3a5,5,2017-03-02 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119146,aaab15da689073f8f9aa978a390a69d1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,df20748206e4b865b2f14a5eabbfcf34,...,2018-01-16 14:27:59,2018-01-17 03:37:34,NaN,NaN,2018-02-06 00:00:00,boleto,210.09,396e26da77b10734f3f8b5d5515fef4e,1,2018-02-09 00:00:00
119147,3a3cddda5a7c27851bd96c3313412840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0b0d6095c5555fe083844281f6b093bb,...,2018-08-31 16:13:44,NaN,NaN,NaN,2018-10-01 00:00:00,voucher,63.89,16d3db296c46b4411dfc5f8bde882e6d,5,2018-07-24 00:00:00
119148,a89abace0dcc01eeb267a9660b5ac126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2f0524a7b1b3845a1a57fcf3910c4333,...,2018-09-06 18:45:47,NaN,NaN,NaN,2018-09-27 00:00:00,voucher,107.13,047fd109ced39e02296f6aeb74f6a6f1,4,2018-07-31 00:00:00
119149,a69ba794cc7deb415c3e15a0a3877e69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,726f0894b5becdf952ea537d5266e543,...,2017-08-23 16:28:04,2017-08-28 15:44:47,NaN,NaN,2017-09-15 00:00:00,credit_card,195.91,41b9de18e0dd1e085e3c402d1c9b87d0,1,2017-09-20 00:00:00
119150,5fabc81b6322c8443648e1b21a6fef21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32c9df889d41b0ee8309a5efb6855dcb,...,2017-10-10 10:50:03,2017-10-14 18:35:57,NaN,NaN,2017-10-23 00:00:00,boleto,133.97,5cbc995320918239b867598a83897b4d,1,2017-10-27 00:00:00

<h2 style='color:green'>Juntando com os produtos
</h2>

In [88]:
tabela_final_pedidos_produtos = tabela_final_pedidos.merge(m_produtos, how='outer', on='product_id')

In [89]:
tabela_final_pedidos_produtos

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,total_produto_frete,cod_pedido,customer_id,...,review_id,review_score,review_creation_date,product_category_name,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,cod_produto
0,00010242fe8c5a6d1ba2dd792cb16214,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,72.19,PED0,3ce436f183e68e07877b285a838db11a,...,97ca439bc427b48bc1cd7177abe71365,5,2017-09-21 00:00:00,cool_stuff,4.0,650.0,28.0,9.0,14.0,PROD25865
1,130898c0987d1801452a8ed92a670612,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,73.86,PED7352,e6eecc5a77de221464d1c4eaff0a9b64,...,b11cba360bbe71410c291b764753d37f,5,2017-07-14 00:00:00,cool_stuff,4.0,650.0,28.0,9.0,14.0,PROD25865
2,532ed5e14e24ae1f0d735b91524b98b9,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,83.23,PED32057,4ef55bf80f711b372afebcb7c715344a,...,af01c4017c5ab46df6cc810e069e654a,4,2018-06-05 00:00:00,cool_stuff,4.0,650.0,28.0,9.0,14.0,PROD25865
3,6f8c31653edb8c83e1a739408b5ff750,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,75.07,PED42988,30407a72ad8b3f4df4d15369126b20c9,...,8304ff37d8b16b57086fa283fe0c44f8,5,2017-08-10 00:00:00,cool_stuff,4.0,650.0,28.0,9.0,14.0,PROD25865
4,7d19f4ef4d04461989632411b7e588b9,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,72.19,PED48148,91a792fef70ecd8cc69d3c7feb3d12da,...,426f43a82185969503fb3c86241a9535,5,2017-08-25 00:00:00,cool_stuff,4.0,650.0,28.0,9.0,14.0,PROD25865
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119146,aaab15da689073f8f9aa978a390a69d1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,df20748206e4b865b2f14a5eabbfcf34,...,396e26da77b10734f3f8b5d5515fef4e,1,2018-02-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119147,3a3cddda5a7c27851bd96c3313412840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0b0d6095c5555fe083844281f6b093bb,...,16d3db296c46b4411dfc5f8bde882e6d,5,2018-07-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119148,a89abace0dcc01eeb267a9660b5ac126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2f0524a7b1b3845a1a57fcf3910c4333,...,047fd109ced39e02296f6aeb74f6a6f1,4,2018-07-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119149,a69ba794cc7deb415c3e15a0a3877e69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,726f0894b5becdf952ea537d5266e543,...,41b9de18e0dd1e085e3c402d1c9b87d0,1,2017-09-20 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119150,5fabc81b6322c8443648e1b21a6fef21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32c9df889d41b0ee8309a5efb6855dcb,...,5cbc995320918239b867598a83897b4d,1,2017-10-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h2 style='color:green'>Juntando com vendedor e cliente
</h2>

In [90]:
tabela_final_pedidos_produtos_vendedores = tabela_final_pedidos_produtos.merge(m_vendedores, how='outer', on='seller_id')

In [91]:
tabela_final_pedidos_produtos_vendedores

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,total_produto_frete,cod_pedido,customer_id,...,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,cod_produto,seller_zip_code_prefix,seller_city,seller_state,cod_vendedor
0,00010242fe8c5a6d1ba2dd792cb16214,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,72.19,PED0,3ce436f183e68e07877b285a838db11a,...,4.0,650.0,28.0,9.0,14.0,PROD25865,27277.0,volta redonda,SP,VEND513
1,130898c0987d1801452a8ed92a670612,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,73.86,PED7352,e6eecc5a77de221464d1c4eaff0a9b64,...,4.0,650.0,28.0,9.0,14.0,PROD25865,27277.0,volta redonda,SP,VEND513
2,532ed5e14e24ae1f0d735b91524b98b9,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,83.23,PED32057,4ef55bf80f711b372afebcb7c715344a,...,4.0,650.0,28.0,9.0,14.0,PROD25865,27277.0,volta redonda,SP,VEND513
3,6f8c31653edb8c83e1a739408b5ff750,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,75.07,PED42988,30407a72ad8b3f4df4d15369126b20c9,...,4.0,650.0,28.0,9.0,14.0,PROD25865,27277.0,volta redonda,SP,VEND513
4,7d19f4ef4d04461989632411b7e588b9,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,72.19,PED48148,91a792fef70ecd8cc69d3c7feb3d12da,...,4.0,650.0,28.0,9.0,14.0,PROD25865,27277.0,volta redonda,SP,VEND513
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119146,aaab15da689073f8f9aa978a390a69d1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,df20748206e4b865b2f14a5eabbfcf34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119147,3a3cddda5a7c27851bd96c3313412840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0b0d6095c5555fe083844281f6b093bb,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119148,a89abace0dcc01eeb267a9660b5ac126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2f0524a7b1b3845a1a57fcf3910c4333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119149,a69ba794cc7deb415c3e15a0a3877e69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,726f0894b5becdf952ea537d5266e543,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119150,5fabc81b6322c8443648e1b21a6fef21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32c9df889d41b0ee8309a5efb6855dcb,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
tabela_final = tabela_final_pedidos_produtos_vendedores.merge(m_clientes, how='outer', on='customer_id')

In [93]:
tabela_final

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,total_produto_frete,cod_pedido,customer_id,...,cod_produto,seller_zip_code_prefix,seller_city,seller_state,cod_vendedor,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,cod_cliente
0,00010242fe8c5a6d1ba2dd792cb16214,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,72.19,PED0,3ce436f183e68e07877b285a838db11a,...,PROD25865,27277.0,volta redonda,SP,VEND513,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,CLIENTE65557
1,130898c0987d1801452a8ed92a670612,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,73.86,PED7352,e6eecc5a77de221464d1c4eaff0a9b64,...,PROD25865,27277.0,volta redonda,SP,VEND513,0fb8e3eab2d3e79d92bb3fffbb97f188,75800,jatai,GO,CLIENTE80988
2,532ed5e14e24ae1f0d735b91524b98b9,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,83.23,PED32057,4ef55bf80f711b372afebcb7c715344a,...,PROD25865,27277.0,volta redonda,SP,VEND513,3419052c8c6b45daf79c1e426f9e9bcb,30720,belo horizonte,MG,CLIENTE25492
3,6f8c31653edb8c83e1a739408b5ff750,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,75.07,PED42988,30407a72ad8b3f4df4d15369126b20c9,...,PROD25865,27277.0,volta redonda,SP,VEND513,e7c828d22c0682c1565252deefbe334d,83070,sao jose dos pinhais,PR,CLIENTE22915
4,7d19f4ef4d04461989632411b7e588b9,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,72.19,PED48148,91a792fef70ecd8cc69d3c7feb3d12da,...,PROD25865,27277.0,volta redonda,SP,VEND513,0bb98ba72dcc08e95f9d8cc434e9a2cc,36400,conselheiro lafaiete,MG,CLIENTE2591
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119146,aaab15da689073f8f9aa978a390a69d1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,df20748206e4b865b2f14a5eabbfcf34,...,NaN,NaN,NaN,NaN,NaN,a33e0969408919ba06779f497ead93ec,7025,guarulhos,SP,CLIENTE24152
119147,3a3cddda5a7c27851bd96c3313412840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0b0d6095c5555fe083844281f6b093bb,...,NaN,NaN,NaN,NaN,NaN,e90598185d2427a35e32ef241a5c04aa,11075,santos,SP,CLIENTE93287
119148,a89abace0dcc01eeb267a9660b5ac126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2f0524a7b1b3845a1a57fcf3910c4333,...,NaN,NaN,NaN,NaN,NaN,d05c44a138277ad325d915c6b7ccbcdf,5344,sao paulo,SP,CLIENTE55235
119149,a69ba794cc7deb415c3e15a0a3877e69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,726f0894b5becdf952ea537d5266e543,...,NaN,NaN,NaN,NaN,NaN,e72a90a2b29fe1a8795b284aaaa3246f,22723,rio de janeiro,RJ,CLIENTE51641
119150,5fabc81b6322c8443648e1b21a6fef21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32c9df889d41b0ee8309a5efb6855dcb,...,NaN,NaN,NaN,NaN,NaN,393d95c05b04db26ac084374094b3a52,18040,sorocaba,SP,CLIENTE91000

<h2 style='color:green'>Analisando os dados nulos da tabela
</h2>

In [94]:
tabela_final.cod_produto.isna().sum()

833

In [95]:
tabela_final.tail(1)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,total_produto_frete,cod_pedido,customer_id,...,cod_produto,seller_zip_code_prefix,seller_city,seller_state,cod_vendedor,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,cod_cliente
119150,5fabc81b6322c8443648e1b21a6fef21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32c9df889d41b0ee8309a5efb6855dcb,...,NaN,NaN,NaN,NaN,NaN,393d95c05b04db26ac084374094b3a52,18040,sorocaba,SP,CLIENTE91000

In [96]:
m_pedidos_pagamentos[m_pedidos_pagamentos['order_id'] == '5fabc81b6322c8443648e1b21a6fef21']

                               order_id payment_type  payment_value
67469  5fabc81b6322c8443648e1b21a6fef21       boleto         133.97

In [97]:
pedidos_items[pedidos_items['order_id'] == '5fabc81b6322c8443648e1b21a6fef21']

Empty DataFrame
Columns: [order_id, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value, total_produto_frete]
Index: []

In [98]:
pedidos_avaliacoes[pedidos_avaliacoes['order_id'] == '5fabc81b6322c8443648e1b21a6fef21']

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
37775,5cbc995320918239b867598a83897b4d,5fabc81b6322c8443648e1b21a6fef21,1,NaN,NaN,2017-10-27 00:00:00,2017-10-28 08:20:38

In [99]:
pedidos[pedidos['order_id'] == '5fabc81b6322c8443648e1b21a6fef21']

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
99415,5fabc81b6322c8443648e1b21a6fef21,32c9df889d41b0ee8309a5efb6855dcb,unavailable,2017-10-10 10:50:03,2017-10-14 18:35:57,NaN,NaN,2017-10-23 00:00:00

<h3 style='color:red'>Dados nulos na tabela: existem registros de ordem de pagamento, sem ordem de pedido com produto e status 'unavailable'.
</h3>

In [100]:
dados_selecionados

NameError: name 'dados_selecionados' is not defined

<h2 style='color:green'>Salvando a tabela final em csv
</h2>

In [101]:
tabela_final.to_csv('tabela_final_ecommerce.csv')